<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Player Companion Baccarat App Game Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<style>
    /* Hide scrollbars but still allow scrolling */
    .hidden-scrollbar {
        scrollbar-width: none;
        /* For Firefox */
        -ms-overflow-style: none;
        /* For Internet Explorer and Edge */
    }

    .hidden-scrollbar::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari, and Opera */
    }

    .glow {
        box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
        /* Gold glow */
        transition: box-shadow 0.3s ease-in-out;
    }

    /* The overlay that covers the whole screen */
    .overlay {
        display: none;
        /* Hidden by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        /* Semi-transparent background */
        justify-content: center;
        align-items: center;
        z-index: 10 00;
    }

    /* The smaller spinner */
    .spinner {
        width: 30px;
        height: 30px;
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }

    .light-separator {
        border-color: rgba(229, 231, 235, 0.5);
        /* Lighter gray with 50% opacity */
    }

    #spinnerOverlay {
        display: none;
        /* Hidden by default */
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0);
        /* Optional: semi-transparent background */
    }


    /* Spinner animation */
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<body class="bg-gray-100">
    <div class="container mx-auto p-2 relative">
        <!-- Logout Icon - Improved -->
        <div class="absolute top-4 right-4 z-10">
            <form th:action="@{/logout}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit"
                    class="bg-gray-600 text-white text-xs font-semibold py-0.5 px-1 rounded hover:bg-gray-700 transition duration-200 shadow-md"
                    style="background-color: rgb(75 85 99 / 42%);"> <!-- Less transparent -->
                    <i class="fas fa-sign-out-alt text-base"></i>
                </button>
            </form>
        </div>



        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-2/5 bg-white shadow-md rounded-lg p-4 mb-4" style="margin: 0.25%;">
                <div id="inputsContainer">
                    <form id="gameForm">

                        <div style="height: 165px;">
                            <div id="circleContainer" class="gap-2 mb-2 w-full overflow-x-auto hidden-scrollbar"
                                style="max-height: 165px; white-space: nowrap;">
                                <div id="handResultColumn" class="flex flex-row h-full w-full"></div>
                            </div>
                        </div>

                    </form>
                </div>

                <div id="results" class="bg-white mt-4 rounded-md shadow-sm">
                    <div id="status" class="text-sm text-center">
                    </div>
                    <div id="bettingResults" class="text-gray-700"></div>
                    <div id="finalStats" class="mt-2 font-bold text-gray-900"></div>
                </div>

                <div class="flex justify-between mb-2"> <!-- Added margin-bottom for spacing -->
                    <button type="button" id="playerButton"
                        class="flex-1 bg-blue-500 text-white py-1 rounded hover:bg-blue-600 transition duration-200 mr-2">
                        PLAYER
                    </button>
                    <button type="button" id="bankerButton"
                        class="flex-1 bg-red-500 text-white py-1 rounded hover:bg-red-600 transition duration-200 ml-2">
                        BANKER
                    </button>
                </div>

                <div class="flex justify-between mb-2"> <!-- Added margin-bottom for spacing -->
                    <button type="button" id="resetButton" style="display: none;"
                        class="flex-1 bg-yellow-500 text-white py-1 rounded hover:bg-yellow-600 transition duration-200 mr-2">
                        Reset Game
                    </button>
                    <button type="button" id="undoButton" style="display: none;"
                        class="flex-1 bg-green-500 text-white py-1 rounded hover:bg-green-600 transition duration-200 ml-2">
                        Undo
                    </button>
                </div>


                <div class="mt-4">
                    <div class="bg-blue-100 border border-blue-300 rounded-lg p-2 mb-2">
                        <h3 id="infoHeader" class="font-semibold text-xs"></h3>
                        <p id="infoContent" class="text-gray-700 text-xs"></p>
                    </div>
                </div>
            </div>

            <!-- Second Panel -->
            <div class="w-full md:w-3/5 bg-white shadow-md rounded-lg p-2 mb-2" style="margin: 0.25%;">
                <h2 class="text-sm font-semibold mb-1">Game Results Overview</h2>
                <p class="text-gray-700 text-xs">Each result below represents the profit details for each shoe.</p>

                <!-- Main Card -->
                <div class="bg-gray-100 border border-gray-300 rounded-lg p-1 mb-1 flex items-center justify-between">
                    <div>
                        <h3 class="font-semibold text-sm">
                            Total Profit(u): <span id="totalProfit"></span>
                        </h3>
                        <p class="text-gray-700 text-xs">Date/Time: <span id="dateTime"></span></p>
                    </div>
                    <div class="flex space-x-2">
                        <!-- Back Icon -->
                        <button onclick="getJournal('back')">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 19l-7-7 7-7" />
                            </svg>
                        </button>
                        <!-- Forward Icon -->
                        <button onclick="getJournal('forward')">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 5l7 7-7 7" />
                            </svg>
                        </button>
                    </div>
                </div>


                <!-- Sub Card Container -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-1" id="journalContainer">
                    <!-- Journal entries will be populated here -->
                </div>
            </div>

        </div>
    </div>




    <div class="overlay" id="spinnerOverlay">
        <div class="spinner"></div>
    </div>

    <!-- Yes or No Dialog Modal -->
    <div id="yesNoModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50">
        <div class="bg-white rounded-lg shadow-lg w-96">
            <!-- Modal Header -->
            <div class="px-4 py-2 border-b">
                <h3 class="text-lg font-semibold">Confirmation</h3>
            </div>
            <!-- Modal Body -->
            <div class="p-4">
                <p>Do you want to add this game result to your journal?</p>
            </div>
            <!-- Modal Footer -->
            <div class="px-4 py-2 border-t flex flex-col space-y-2">


                <button id="yesButton"
                    class="bg-green-500 text-white w-full py-1 rounded hover:bg-green-600 transition duration-200 text-sm">
                    Yes
                </button>
                <button id="noButton"
                    class="bg-blue-500 text-white w-full py-1 rounded hover:bg-blue-600 transition duration-200 text-sm">
                    No
                </button>

                <button id="cancelButton" style="margin-top: 20px;"
                    class="bg-gray-500 text-white w-full py-1 rounded hover:bg-gray-600 transition duration-200 text-sm">
                    Cancel
                </button>
            </div>
        </div>
    </div>




    <script>

        let playedShoe = 0;
        let dateCreated;

        function showSpinner() {
            const circleContainer = document.getElementById("circleContainer");
            const spinnerOverlay = document.getElementById("spinnerOverlay");

            // Get the position and dimensions of circleContainer
            const rect = circleContainer.getBoundingClientRect();

            // Show the spinner overlay
            spinnerOverlay.style.display = "flex";
            spinnerOverlay.style.position = "fixed"; // Change to fixed for screen-wide overlay
            spinnerOverlay.style.top = "0"; // Cover the whole screen
            spinnerOverlay.style.left = "0"; // Cover the whole screen
            spinnerOverlay.style.width = "100vw"; // Full viewport width
            spinnerOverlay.style.height = "100vh"; // Full viewport height
            spinnerOverlay.style.zIndex = "9999"; // Ensure it is above everything, including modals
        }


        function hideSpinner() {
            // Hide the overlay and spinner
            document.getElementById("spinnerOverlay").style.display = "none";
        }


        $(document).ready(function () {
            (async () => {
                await getJournal('today');
                await currentState();
            })();

            // Get modal and buttons
            const modal = document.getElementById('yesNoModal');
            const openModalButton = document.getElementById('openModalButton');
            const yesButton = document.getElementById('yesButton');
            const noButton = document.getElementById('noButton');
            const cancelButton = document.getElementById('cancelButton');


            // Close modal and handle Yes/No actions
            cancelButton.addEventListener('click', () => {
                modal.classList.add('hidden');

            });



            // Close modal and handle Yes/No actions
            noButton.addEventListener('click', () => {
                processEventToReset("no");
            });


            yesButton.addEventListener('click', async () => {
                processEventToReset("yes");
            });


            async function processEventToReset(answer) {
                showSpinner();
                try {
                    const response = await $.post('/api/baccarat/reset', { yesNo: answer });
                    displayResultToUi(response);
                } catch (error) {
                    $('#resetButton').prop('disabled', false);
                    $('#status').text(`Error: ${error.responseText || 'Unexpected error'}`);
                } finally {
                    hideSpinner();
                    modal.classList.add('hidden');
                }
            }




            async function playGame(userInput) {
                try {
                    const response = await $.post('/api/baccarat/play', $.param({
                        userInput,
                        recommendedBet: $('#recommendedBet').text(),
                        suggestedUnit: $('#suggestedBetUnit').text()
                    }));

                    displayResultToUi(response);
                } catch (xhr) {
                    $('#playerButton, #bankerButton').prop('disabled', false);
                    $('#status').text(`Error: ${xhr.responseText || 'Unexpected error'}`);
                }
            }


            // Event listener for PLAYER button
            $('#playerButton').on('click', function () {
                $('#playerButton').prop('disabled', true);
                showSpinner();
                playGame('p');
            });

            // Event listener for BANKER button
            $('#bankerButton').on('click', function () {
                $('#bankerButton').prop('disabled', true);
                showSpinner();
                playGame('b');
            });

            // Event listener for UNDO button
            $('#undoButton').on('click', async function () {
                $('#undoButton').prop('disabled', true);
                showSpinner();
                await undo();
            });



            // Event listener for RESET GAME button
            $('#resetButton').on('click', async function () {

                modal.classList.remove('hidden');

            });
        });


        async function displayResultToUi(response) {
            hideSpinner();
            $('#playerButton, #bankerButton, #resetButton, #undoButton').prop('disabled', false);

            const { handCount, wins, losses, profit } = response.gameStatus;
            const statusMessage = response.message;
            const tempMessage = (statusMessage.includes('Wait') && statusMessage.includes('Wait for virtual win')) ? "" : statusMessage;

            // Handle status, reset, and undo button visibility
            $('#status').toggle(handCount > 0 || statusMessage.includes("Daily limit!"));
            $('#resetButton, #undoButton').toggle(handCount > 0);
            if (handCount === 1) $('#undoButton').hide();

            $('#status').text(tempMessage).css('color', statusMessage.includes("profit") ? 'green' : statusMessage.includes("loss") ? 'red' : 'black');

            if (statusMessage.includes("reset") || statusMessage.includes("Initialized")) {
                $("#handResultColumn").empty();
                $('#status').text("");
                await getJournal("today");
            }

            $("#baseBetUnit").val(response.baseBetUnit);
            $("#initialPlayingUnit").val(response.initialPlayingUnits);

            // Display betting results
            $('#bettingResults').html(`
                <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <div class="bg-gray-200 text-gray-800 text-xs font-semibold p-1 flex justify-between">
                    <span id="playedShoe">Shoe: ${playedShoe + 1}/10</span>
                    <span>Hands: ${handCount}/60</span>
                </div>
                <div class="p-2 space-y-1">
                    <div class="flex justify-between border-b pb-1">
                    <span class="font-bold text-xs">Wins:</span><span class="text-xs">${wins}</span>
                    </div>
                    <div class="flex justify-between border-b pb-1">
                    <span class="font-bold text-xs">Losses:</span><span class="text-xs">${losses}</span>
                    </div>
                    <div class="flex justify-between border-b pb-1">
                    <span class="font-bold text-xs">Net Profit:</span>
                    <span class="text-xs ${profit >= 0 ? 'text-green-600' : 'text-red-600'}">${profit.toFixed(0)}</span>
                    </div>
                    <div class="flex justify-between border-b pb-1">
                    <span class="font-bold text-xs">Stake:</span><span class="text-xs">${response.recommendedBet.includes("Wait") ? "0" : response.suggestedBetUnit.toFixed(0)}</span>
                    </div>
                    <div class="flex justify-between">
                    <span class="font-bold text-xs">Next Bet:</span><span class="text-xs">${statusMessage === 'Wait for virtual win.' ? 'Wait' : response.recommendedBet}</span>
                    </div>
                </div>
                </div>
                <p id="recommendedBet" style="display:none;">${response.recommendedBet}</p>
                <p id="suggestedBetUnit" style="display:none;">${response.suggestedBetUnit.toFixed(0)}</p>
            `);

            displayResults(response.sequence.toUpperCase());

            // Handle button visibility after game result
            if (statusMessage.includes("reached")) {
                $('#playerButton, #bankerButton').prop('disabled', true);
                $('#undoButton').hide();
                $('#resetButton').show();
                await getJournal("today");
            }

            if (response.dailyLimitReached) {
                $('#resetButton').hide();
            }
        }

        async function undo() {
            try {
                const response = await $.post('/api/baccarat/undo');
                displayResultToUi(response);
            } catch (xhr) {
                $('#undoButton').prop('disabled', false);
                $('#responseMessage').text(`An error occurred: ${xhr.responseText || 'Unexpected error'}`);
                console.error("Error details:", xhr);
            }
        }

        function addContainer(group) {
            const container = document.createElement('div');
            container.classList.add('flex', 'flex-col', 'items-start', 'justify-start', 'h-full');

            // Create circles for each character in the group         
            let circleNumber = 1;
            for (const char of group) {
                const circle = document.createElement('div');
                circle.classList.add('flex', 'items-center', 'justify-center', 'w-6', 'h-6', 'border', 'border-gray-300', 'rounded-full', char === 'P' ? 'bg-blue-500' : 'bg-red-500', 'mb-1');

                // Create a smaller white circle inside
                const innerCircle = document.createElement('div');
                innerCircle.classList.add('flex', 'items-center', 'justify-center', 'w-3', 'h-3', 'bg-white', 'rounded-full', 'text-xs', 'text-gray-400');
                innerCircle.textContent = "";


                innerCircle.textContent = circleNumber >= 7 ? circleNumber : "";


                // Add the inner circle to the outer circle
                circle.appendChild(innerCircle);
                // Add the outer circle to the container
                container.appendChild(circle);
                circleNumber++;
            }

            return container; // Return the container with circles
        }

        function displayResults(playerAndBankerCollections) {

            const results = playerAndBankerCollections.replace("1111", "").split('');
            if (!results.length) return; // Early return if results are empty
            // Clear previous results
            document.getElementById('handResultColumn').innerHTML = '';

            let currentChar = results[0];
            let group = currentChar; // Initialize the group with the first character
            const column = document.getElementById('handResultColumn');
            const circleContainer = document.getElementById('circleContainer'); // Reference to the outer container

            for (let i = 1; i < results.length; i++) {
                if (results[i] === currentChar) {
                    group += results[i]; // Add to the current group if same
                } else {

                    column.appendChild(addContainer(group));
                    currentChar = results[i]; // Update currentChar
                    group = currentChar; // Start a new group
                }
            }

            // Append the last group after the loop
            column.appendChild(addContainer(group));

            // Auto-scroll the circleContainer to the right after adding new content
            setTimeout(() => {
                circleContainer.scrollLeft = circleContainer.scrollWidth;
            }, 0); // Using a timeout to ensure rendering is complete before scrolling
        }

        // Function to modify the date
        function modifyDate(dateString, days, options) {
            const dateObj = new Date(dateString);
            dateObj.setUTCDate(dateObj.getUTCDate() + days);
            return dateObj.toLocaleDateString('en-CA', options);  // Return the new date in YYYY-MM-DD format
        }

        async function getJournal(purpose) {
            const currentDate = new Date();
            const options = { timeZone: 'UTC', year: 'numeric', month: '2-digit', day: '2-digit' };
            const utcDate = currentDate.toLocaleDateString('en-CA', options); // Format: YYYY-MM-DD

            // Set dateCreated initially if not already set
            dateCreated = dateCreated || utcDate;

            // Modify dateCreated based on purpose
            dateCreated = purpose === 'back'
                ? modifyDate(dateCreated, -1, options)
                : purpose === 'forward'
                    ? modifyDate(dateCreated, 1, options)
                    : utcDate;

            try {
                const response = await $.ajax({
                    url: '/api/journals/dateCreated',
                    type: 'GET',
                    data: { dateCreated }
                });

                $('#journalContainer').empty();
                $('#infoHeader, #infoContent').text('');
                $('#dateTime').text(dateCreated);


                let totalProfit = 0;

                // Filter valid journals and reverse the order
                const validJournals = response.filter(journal => journal.hand !== 0).reverse();
                playedShoe = 0;
                validJournals.forEach((journal, index) => {
                    const journalDiv = document.createElement('div');
                    journalDiv.classList.add('bg-white', 'border', 'border-gray-300', 'rounded-lg', 'p-2', 'mb-2');

                    // Create a flex container for Shoe, Hand, and Profit
                    const flexContainer = document.createElement('div');
                    flexContainer.classList.add('flex', 'justify-between', 'items-center', 'text-xs', 'text-gray-700', 'text-right');

                    const shoeHeading = document.createElement('h4');
                    shoeHeading.classList.add('font-semibold', 'text-sm');
                    shoeHeading.textContent = `Shoe: ${journal.shoe}`;

                    const handProfitContainer = document.createElement('div');
                    handProfitContainer.classList.add('text-right');

                    handProfitContainer.innerHTML = `
                        <p>Hand: ${journal.hand}</p>
                        <p>Profit: ${journal.profit}</p>
                    `;

                    totalProfit += journal.profit;

                    // Append elements
                    flexContainer.appendChild(shoeHeading);
                    flexContainer.appendChild(handProfitContainer);
                    journalDiv.appendChild(flexContainer);
                    $('#journalContainer').append(journalDiv);

                    // Add glowing effect to the first valid journal
                    if (index === 0) {
                        journalDiv.classList.add('glow');
                    }
                    playedShoe++;
                });

                // Update header and content based on total profit
                const headerText = totalProfit > 20 ? "Lucky Day" : "Gaming Rule";
                const contentText = totalProfit > 20
                    ? "You're now in profit! Time to call it a day and enjoy your success."
                    : "Take profit is set at 40 units, stop loss at -10 units, with a daily shoe limit of 10. Your total daily units (u) should be 100, with each wager being 1 unit. For example, if your bankroll is $100, 1 unit (1u) equals $1. Follow the app's guidelines to protect your bankroll.";

                $('#infoHeader').text(headerText);
                $('#infoContent').text(contentText);
                $('#totalProfit').text(totalProfit);

            } catch (xhr) {
                console.error('Error fetching journals:', xhr);
                alert('An error occurred while fetching journals. Please try again.');
            }
        }

        async function currentState() {


            try {
                const statusMessage = $('#status').text();
                const response = await $.ajax({
                    url: '/api/baccarat/current-state',
                    type: 'GET',
                    data: { message: statusMessage }
                });
                displayResultToUi(response);
            } catch (xhr) {
                console.error('Error fetching current state:', xhr);
                $('#status').text(`Error: ${xhr.responseText}`);
            }
        }
    </script>

</body>

</html>