<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Player Companion Baccarat App Game Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<style>
    /* Hide scrollbars but still allow scrolling */
    .hidden-scrollbar {
        scrollbar-width: none;
        /* For Firefox */
        -ms-overflow-style: none;
        /* For Internet Explorer and Edge */
    }

    .hidden-scrollbar::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari, and Opera */
    }

    .glow {
        box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
        /* Gold glow */
        transition: box-shadow 0.3s ease-in-out;
    }

    /* The overlay that covers the whole screen */
    .overlay {
        display: none;
        /* Hidden by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        /* Semi-transparent background */
        justify-content: center;
        align-items: center;
        z-index: 10 00;
    }

    /* The smaller spinner */
    .spinner {
        width: 30px;
        height: 30px;
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }

    .light-separator {
        border-color: rgba(229, 231, 235, 0.5);
        /* Lighter gray with 50% opacity */
    }

    #spinnerOverlay {
        display: none;
        /* Hidden by default */
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0);
        /* Optional: semi-transparent background */
    }


    /* Spinner animation */
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #handResultContainer {
        display: flex;
        overflow-x: auto;
        /* Enable horizontal scrolling */
        white-space: nowrap;
        /* Prevent circles from wrapping */
        scrollbar-width: none;
        /* Firefox: Hide scrollbar */

    }

    #handResultContainer div {
        flex-shrink: 0;
        /* Prevent the circles from shrinking */
    }

    #handResultContainer div {
        flex-shrink: 0;
        /* Prevent the circles from shrinking */
        margin: 1px;
        /* Added 1px margin around each circle */
    }

    #gameForm {
        position: relative;
        /* Necessary for the absolute positioning of the pseudo-element */
        z-index: 1;
        /* Ensure content is above the background */
    }

    #gameForm::before {
        content: "";
        background-image: url('/img/box_grid.jpg');
        background-repeat: repeat;
        /* Makes the background image repeat */
        background-size: 24px;
        /* Size of the background image */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        /* Adjust opacity here (0.0 to 1.0) */
        z-index: -1;
        /* Ensures it is behind the content */
    }


    /* ---------------------------------------------------- */

    .toggle-container {
        display: flex;
        align-items: center;
    }

    .toggle-label {
        margin-right: 10px;
        color: #4a5568;
        /* Gray text color */
    }

    .toggle-switch {
        position: relative;
        display: inline-block;
        width: 40px;
        /* Reduced width */
        height: 20px;
        /* Reduced height */
    }

    .toggle-input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .toggle-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        /* Track color */
        transition: .4s;
        border-radius: 20px;
        /* Rounded track */
    }

    .toggle-slider:before {
        position: absolute;
        content: "";
        height: 16px;
        /* Reduced knob height */
        width: 16px;
        /* Reduced knob width */
        left: 2px;
        /* Adjusted knob position */
        bottom: 2px;
        /* Adjusted knob position */
        background-color: white;
        /* Knob color */
        transition: .4s;
        border-radius: 50%;
    }

    .toggle-input:checked+.toggle-slider {
        background-color: #4a90e2;
        /* Track color when checked */
    }

    .toggle-input:checked+.toggle-slider:before {
        transform: translateX(20px);
        /* Knob position when checked */
    }

    /* ------------------PRGRESS BAR-------------------------------- */
    .progress-container {
        width: 100%;
        background-color: #e0e0df;
        border-radius: 25px;
        padding: 1px;
    }

    .progress-bar {
        height: 2px;
        /* Smaller height */
        width: 0;
        background-color: green;
        border-radius: 25px;
        transition: width 0.5s ease;
    }

    /* Color based on percentage */
    .low {
        background-color: red;
    }

    .medium {
        background-color: orange;
    }

    .high {
        background-color: green;
    }
</style>

<body class="bg-gray-100">
    <div class="container mx-auto p-2 relative">

        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-2/5 bg-white shadow-md rounded-lg mb-4" style="margin: 0.25%;padding: 0.5rem;">

                <!-- Header with icons -->
                <div class="bg-gradient-to-r from-blue-200 to-gray-200 rounded-t-lg shadow-md">
                    <div class="flex justify-between items-center">

                        <!-- Logout button on the left -->
                        <form th:action="@{/logout}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button type="submit"
                                class="bg-gray-600 text-white text-xs font-semibold py-0.5 px-1 rounded hover:bg-gray-700 transition duration-200"
                                style="background-color: rgb(75 85 99 / 0%);">
                                <!-- <i class="fas fa-sign-out-alt text-base"></i> -->
                                <img src="/img/logout.png" class="w-7 h-7" alt="logout">
                            </button>
                        </form>

                        <div class="flex items-center" style="margin-left: 5px;">
                            <span id="activeUsersCount" class="text-gray-500 font-semibold mr-2 text-xs">0</span>
                            <i class="fas fa-user-check w-5 h-5 text-green-500"></i> <!-- Font Awesome icon -->
                        </div>

                        <!-- Icons on the right -->
                        <div class="flex space-x-4 pl-2 ml-auto" style="margin-right: 10px;">
                            <button id="riskLevelButton" class="cursor-pointer" onclick="changeRiskLevel(this)"
                                aria-label="Change Risk Level">
                                <img id="riskLevelImage" src="/img/risk_medium.png" class="w-7 h-7" alt="Risk Level">
                            </button>
                            <button id="resetButton" class="cursor-pointer" aria-label="Change reset Status">
                                <img id="resetButtonImage" src="/img/circular_reset.png" class="w-6 h-6"
                                    alt="Reset Status">
                            </button>
                        </div>


                    </div>
                </div>



                <div id="inputsContainer" style="margin-top: 5px;">
                    <form id="gameForm">
                        <div style="height: 145px;">
                            <div id="circleContainer" class="gap-2 mb-2 w-full overflow-x-auto hidden-scrollbar"
                                style="max-height: 145px; white-space: nowrap;">
                                <div id="handResultColumn" class="flex flex-row wrap h-full w-full"></div>
                            </div>
                        </div>

                    </form>
                </div>

                <!-- Win and Lose -->
                <div class="gap-2 mb-2 w-full overflow-x-auto hidden-scrollbar"
                    style="white-space: nowrap; margin-top: 5px !important;">
                    <div id="handResultContainer" class="flex flex-row  wrap h-full w-full"></div>
                </div>

                <div class="progress-container">
                    <div id="progressBar" class="progress-bar"></div>
                </div>



                <div id="results" class="bg-white mt-4 rounded-md shadow-sm" style="margin-top: 2px !important;">
                    <div id="bettingResults" class="text-gray-700"></div>
                    <div id="finalStats" class="mt-2 font-bold text-gray-900"></div>
                </div>

                <div class="flex justify-between mb-2">
                    <button type="button" id="playerButton"
                        class="flex-1 bg-gradient-to-l from-blue-700 to-blue-800 text-white py-3 rounded hover:from-blue-600 hover:to-blue-700 transition duration-300 shadow-lg mr-2">
                        PLAYER
                    </button>


                    <button type="button" id="bankerButton"
                        class="flex-1 bg-gradient-to-r from-red-700 to-red-800 text-white py-3 rounded hover:from-red-600 hover:to-red-700 transition duration-300 shadow-lg ml-2">
                        BANKER
                    </button>


                </div>

                <div class="flex  mb-2"> <!-- Added margin-bottom for spacing -->
                    <button type="button" id="skipButton" onclick="turnOnOffSkip()"
                        class="flex-1 bg-gradient-to-l from-yellow-600 to-yellow-700 text-white py-1 rounded hover:from-yellow-600 hover:to-yellow-700 transition duration-200 mr-2">
                        Skip
                    </button>
                    <button type="button" id="undoButton"
                        class="flex-1 bg-gradient-to-r from-green-700 to-green-800 text-white py-1 rounded hover:from-green-600 hover:to-green-700 transition duration-200 ml-2">
                        Undo
                    </button>
                </div>

                <div id="status" class="text-sm text-center">
                </div>

                <div class="mt-4">
                    <div class="bg-blue-100 border border-blue-300 rounded-lg p-2 mb-2">
                        <h3 id="infoHeader" class="font-semibold text-xs"></h3>
                        <p id="infoContent" class="text-gray-700 text-xs"></p>
                    </div>
                </div>
            </div>


            <!-- Second Panel -->
            <div class="w-full md:w-3/5 bg-white shadow-md rounded-lg p-2 mb-2" style="margin: 0.25%;">
                <div class="bg-gray-100 border rounded-lg p-2 mb-1 flex items-center justify-between">
                    <!-- Reduced padding to p-2 -->
                    <div>
                        <h3 class="font-semibold text-xs"> <!-- Reduced font size to text-xs -->
                            Total Profit (u): <span id="totalProfit">0.00</span> <!-- Default value -->
                        </h3>
                        <p class="text-gray-700 text-xs">Date/Time: <span id="dateTime">2024-10-18 10:00</span></p>
                        <!-- Default value -->
                    </div>

                    <div class="flex space-x-2">
                        <!-- Back Icon -->
                        <button onclick="getJournal('back')" class="p-1 rounded hover:bg-gray-200">
                            <!-- Reduced padding to p-1 -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-600" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 19l-7-7 7-7" />
                            </svg>
                        </button>
                        <!-- Forward Icon -->
                        <button onclick="getJournal('forward')" class="p-1 rounded hover:bg-gray-200">
                            <!-- Reduced padding to p-1 -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-600" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 5l7 7-7 7" />
                            </svg>
                        </button>
                    </div>
                </div>




                <!-- Tab Navigation -->
                <div class="flex mb-2">
                    <button id="journalTab" class="flex-1 py-2 text-gray-700 text-xs border-b-2 border-blue-500"
                        onclick="showTab('History')">History</button>
                    <button id="graphTab" class="flex-1 py-2 text-gray-500 border-b-2 text-xs"
                        onclick="showTab('graph')">Profit/Loss</button>
                </div>

                <!-- Journal Tab Content -->
                <div id="journalContainer" class="grid grid-cols-1 md:grid-cols-2 gap-1">
                    <!-- Journal entries will be populated here -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-1" id="journalEntriesContainer"></div>
                </div>

                <!-- Graph Tab Content -->
                <div class="hidden" id="graphContainer">
                    <div class="flex items-center mb-4">
                        <label class="mr-2 text-gray-700 text-sm" style="margin-right: 10px;">View By:</label>
                        <input type="radio" id="dayRadio" name="viewBy" value="day" class="mr-1 cursor-pointer" checked
                            onchange="handleViewChange()">
                        <label for="dayRadio" class="mr-4 text-gray-700 cursor-pointer text-sm">Day</label>
                        <input type="radio" id="weekRadio" name="viewBy" value="week" class="mr-1 cursor-pointer"
                            onchange="handleViewChange()">
                        <label for="weekRadio" class="text-gray-700 cursor-pointer text-sm">Week</label>
                    </div>
                    <canvas id="profitsGraph" width="400" height="200"></canvas>
                </div>



            </div>
        </div>




        <div class="overlay" id="spinnerOverlay">
            <div class="spinner"></div>
        </div>

        <!-- Yes or No Dialog Modal -->
        <div id="yesNoModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50">
            <div class="bg-white rounded-lg shadow-lg w-96">
                <!-- Modal Header -->
                <div class="px-4 py-2 border-b">
                    <h3 class="text-lg font-semibold">Confirmation</h3>
                </div>
                <!-- Modal Body -->
                <div class="p-4">
                    <p>Do you want to save this game result?</p>
                </div>
                <!-- Modal Footer -->
                <div class="px-4 py-2 border-t flex flex-col space-y-2">
                    <button id="yesButton"
                        class="text-xs bg-green-700 text-white w-full py-2 rounded-lg shadow hover:bg-green-600 transition duration-300 transform hover:scale-105">
                        Yes
                    </button>
                    <button id="noButton"
                        class="text-xs bg-blue-700 text-white w-full py-2 rounded-lg shadow hover:bg-blue-600 transition duration-300 transform hover:scale-105">
                        No
                    </button>
                    <button id="cancelButton" style="margin-top: 20px;"
                        class="text-xs bg-gray-500 text-white w-full py-2 rounded-lg shadow hover:bg-gray-600 transition duration-300 transform hover:scale-105">
                        Cancel
                    </button>
                </div>
            </div>
        </div>


        <script>

            let playedShoe = 0;
            let dateCreated;
            var freezeState = 'N';
            var totalProfit = 0;

            const ctx = document.getElementById('profitsGraph').getContext('2d');
            let dummyGraph; // Variable to hold the chart instance

            function showSpinner() {
                const circleContainer = document.getElementById("circleContainer");
                const spinnerOverlay = document.getElementById("spinnerOverlay");

                // Get the position and dimensions of circleContainer
                const rect = circleContainer.getBoundingClientRect();

                // Show the spinner overlay
                spinnerOverlay.style.display = "flex";
                spinnerOverlay.style.position = "fixed"; // Change to fixed for screen-wide overlay
                spinnerOverlay.style.top = "0"; // Cover the whole screen
                spinnerOverlay.style.left = "0"; // Cover the whole screen
                spinnerOverlay.style.width = "100vw"; // Full viewport width
                spinnerOverlay.style.height = "100vh"; // Full viewport height
                spinnerOverlay.style.zIndex = "9999"; // Ensure it is above everything, including modals
            }


            function hideSpinner() {
                // Hide the overlay and spinner
                document.getElementById("spinnerOverlay").style.display = "none";
            }


            $(document).ready(function () {
                (async () => {
                    await getJournal('today');
                    await currentState();
                })();

                // Get modal and buttons
                const modal = document.getElementById('yesNoModal');
                const openModalButton = document.getElementById('openModalButton');
                const yesButton = document.getElementById('yesButton');
                const noButton = document.getElementById('noButton');
                const cancelButton = document.getElementById('cancelButton');


                // Close modal and handle Yes/No actions
                cancelButton.addEventListener('click', () => {
                    modal.classList.add('hidden');

                });



                // Close modal and handle Yes/No actions
                noButton.addEventListener('click', () => {
                    processEventToReset("no");
                });


                yesButton.addEventListener('click', async () => {
                    processEventToReset("yes");
                });


                async function processEventToReset(answer) {
                    showSpinner();
                    try {
                        const response = await $.post('/api/baccarat/reset', { yesNo: answer });
                        displayResultToUi(response);
                    } catch (error) {
                        $('#resetButton').prop('disabled', false);
                        $('#status').text(`Error: ${error.responseText || 'Unexpected error'}`);
                    } finally {
                        hideSpinner();
                        modal.classList.add('hidden');
                    }
                }




                async function playGame(userInput) {




                    const riskLevelImage = document.getElementById('riskLevelImage');

                    const currentSrc = riskLevelImage.src; // Get the full URL of the current image             

                    var riskLevelValue = currentSrc.includes('risk_low.png') ? 'VERY_LOW' : 'LOW'


                    try {
                        const response = await $.post('/api/baccarat/play', $.param({
                            userInput,
                            recommendedBet: $('#recommendedBet').text(),
                            riskLevel: riskLevelValue,
                            suggestedUnit: $('#suggestedBetUnit').text(),
                            skipState: freezeState
                        }));

                        displayResultToUi(response);
                    } catch (xhr) {
                        $('#playerButton, #bankerButton').prop('disabled', false);
                        $('#status').text(`Error: ${xhr.responseText || 'Unexpected error'}`);
                    }
                }


                // Event listener for PLAYER button
                $('#playerButton').on('click', function () {

                    let message = $('#status').text();
                    if (message.includes("Archived")) {
                        return;
                    }





                    $('#playerButton').prop('disabled', true);
                    showSpinner();
                    playGame('p');
                });

                // Event listener for BANKER button
                $('#bankerButton').on('click', function () {

                    let message = $('#status').text();
                    if (message.includes("Archived")) {
                        return;
                    }



                    $('#bankerButton').prop('disabled', true);
                    showSpinner();
                    playGame('b');
                });

                // Event listener for UNDO button
                $('#undoButton').on('click', async function () {
                    let message = $('#status').text();
                    if (message.includes("Archived")) {
                        return;
                    }

                    const handCountText = $("#handCount").text();
                    if (handCountText === 'Hands: 1') {
                        // RESET
                        let message = $('#status').text();
                        if (message.includes("Archived")) {
                            return;
                        }
                        modal.classList.remove('hidden');
                    } else {

                        $('#undoButton').prop('disabled', true);
                        showSpinner();
                        await undo();
                    }



                });



                // Event listener for RESET GAME button
                $('#resetButton').on('click', async function () {

                    let message = $('#status').text();
                    if (message.includes("Archived")) {
                        return;
                    }
                    modal.classList.remove('hidden');

                });



                getFreezeStateAsync();
            });


            async function displayResultToUi(response) {
                console.log(response);

                hideSpinner();
                $('#playerButton, #bankerButton, #resetButton, #undoButton').prop('disabled', false);





                const { handCount, wins, losses, profit } = response.gameStatus;
                const statusMessage = response.message;
                // const tempMessage = (statusMessage.includes('Wait') && statusMessage.includes('Wait for virtual win')) ? "" : statusMessage;

                // Handle status, reset, and undo button visibility
                $('#status').toggle(handCount > 0 || statusMessage.includes("Daily limit!"));
                $('#resetButton, #undoButton').toggle(handCount > 0);
                // if (handCount === 1) $('#undoButton').hide();

                // $('#status').text(tempMessage).css('color', statusMessage.includes("profit") ? 'green' : statusMessage.includes("loss") ? 'red' : 'black');
                $('#status')
                    .text(statusMessage)
                    .css({
                        'color': statusMessage.includes("profit") ? 'green' : statusMessage.includes("loss") ? 'red' : 'black',
                        'display': 'none' // Add this line to hide the element
                    });

                if (statusMessage.includes("reset") || statusMessage.includes("Initialized")) {
                    $("#handResultColumn").empty();
                    $('#status').text("");
                    await getJournal("today");
                }

                $("#baseBetUnit").val(response.baseBetUnit);
                $("#initialPlayingUnit").val(response.initialPlayingUnits);

                // Display betting results
                $('#bettingResults').html(`
                <div class="bg-white shadow-md rounded-lg overflow-hidden">



                <div class="bg-gray-200 text-gray-800 text-xs font-semibold p-1 flex justify-between">
                    <span id="playedShoe">Shoe: ${playedShoe}</span>

                   
                    
                    <span id="handCount" >Hands: ${handCount}</span>
                </div>




                <div class="p-2 space-y-1">
                    <div class="flex justify-between border-b pb-1">
                    <span class="font-bold text-xs">Wins/Losses:</span><span class="text-xs">${wins}/${losses}</span>
                    </div>
                  
                    <div class="flex justify-between border-b pb-1" style="${!response.trailingStop ? 'display:none;' : ''}">
                    <span class="font-bold text-xs">Trailing Stop:</span><span class="text-xs">${parseInt(response.trailingStop) || 0}</span>
                    </div>

                    <div class="flex justify-between border-b pb-1">
                    <span class="font-bold text-xs">Net Profit:</span>
                    <span class="text-xs ${profit >= 0 ? 'text-green-600' : 'text-red-600'}">${profit.toFixed(0)}</span>
                    </div>
                    <div class="flex justify-between border-b pb-1">
                    <span class="font-bold text-xs">Stake:</span><span id="nextbetText" class="text-sm font-bold">${response.recommendedBet.includes("Wait..") ? "0" : freezeState === 'Y' ? "0" : response.suggestedBetUnit.toFixed(0)}</span>
                    </div>
                    <div class="flex justify-between">
                    <span class="font-bold text-xs">Next Bet:</span>
                    
                    <span style="width: 45px;" class="${statusMessage === 'Wait for virtual win.' ? 'text-sm'
                        : response.recommendedBet.includes('Wait') ? 'text-sm'
                            : response.recommendedBet == 'Player' ? 'h-5 bg-blue-500 text-sm text-white flex items-center justify-center rounded shadow-lg'
                                : 'w-20 h-5 bg-red-500 text-sm text-white flex items-center justify-center rounded shadow-lg'}">
                        ${statusMessage === 'Wait for virtual win.' ? 'Wait..'
                        : statusMessage.includes('Wait') ? 'Wait..'
                            : response.recommendedBet}
                    </span>
                    </div>
                


                </div>
                </div>
                <p id="recommendedBet" style="display:none;">${response.recommendedBet}</p>
                <p id="suggestedBetUnit" style="display:none;">${response.suggestedBetUnit.toFixed(0)}</p>
            `);



                if (statusMessage.includes("Restart") || statusMessage.includes("Daily limit")) {


                    $('#infoHeader').text("Game Over");
                    $('#infoContent').text(statusMessage);


                } else {

                    // Update header and content based on total profit
                    const headerText = totalProfit > 10 ? "Lucky Day" : "Reminder";
                    const contentText = totalProfit > 10
                        ? "You're now in profit! Time to call it a day and enjoy your success."
                        : `Follow the app's guidelines to protect your bankroll.`;


                    $('#infoHeader').text(headerText);
                    $('#infoContent').text(contentText);
                }



                displayResults(response.sequence.toUpperCase());
                getHandResult(response);
                getActiveUsers();
                // Handle button visibility after game result
                if (statusMessage.includes("reached")) {
                    $('#playerButton, #bankerButton').prop('disabled', true);
                    // $('#undoButton').hide();
                    // $('#skipButton').hide();
                    $('#resetButton').show();
                    await getJournal("today");
                }

                if (response.dailyLimitReached) {
                    $('#resetButton').hide();
                }



                const riskLevelImage = document.getElementById('riskLevelImage');


                // console.log(response.riskLevel);

                if (response.riskLevel === 'LOW') {
                    riskLevelImage.src = '/img/risk_medium.png'
                } else {
                    riskLevelImage.src = '/img/risk_low.png'
                }


                updateProgressBar(response.confidence);

            }

            async function undo() {
                try {




                    const response = await $.post('/api/baccarat/undo');
                    // console.log(response);

                    displayResultToUi(response);
                } catch (xhr) {
                    $('#undoButton').prop('disabled', false);
                    $('#responseMessage').text(`An error occurred: ${xhr.responseText || 'Unexpected error'}`);
                    console.error("Error details:", xhr);
                }
            }

            function addContainer(group) {
                const container = document.createElement('div');
                container.classList.add('flex', 'flex-col', 'items-start', 'justify-start', 'h-full');

                // Create circles for each character in the group         
                let circleNumber = 1;
                for (const char of group) {
                    const circle = document.createElement('div');
                    circle.classList.add('flex', 'items-center', 'justify-center', 'w-6', 'h-6', 'border', 'rounded-full', char === 'P' ? 'bg-blue-500' : 'bg-red-500');


                    // Create a smaller white circle inside
                    const innerCircle = document.createElement('div');
                    innerCircle.classList.add('flex', 'items-center', 'justify-center', 'w-4', 'h-4', 'bg-white', 'rounded-full', 'text-xs', 'text-gray-400');
                    innerCircle.textContent = "";


                    innerCircle.textContent = circleNumber >= 7 ? circleNumber : "";


                    // Add the inner circle to the outer circle
                    circle.appendChild(innerCircle);
                    // Add the outer circle to the container
                    container.appendChild(circle);
                    circleNumber++;
                }

                return container; // Return the container with circles
            }

            function displayResults(playerAndBankerCollections) {

                const riskLevelImage = document.getElementById('riskLevelImage');
                const results = playerAndBankerCollections.replace("1111", "").split('');

                // riskLevelImage.disabled = false; // enable the toggle once there is no handCount
                riskLevelImage.onclick = changeRiskLevel;// Remove the click event
                if (!results.length) return; // Early return if results are empty
                riskLevelImage.onclick = null;




                // Clear previous results
                document.getElementById('handResultColumn').innerHTML = '';
                document.getElementById('handResultContainer').innerHTML = '';



                let currentChar = results[0];
                let group = currentChar; // Initialize the group with the first character
                const column = document.getElementById('handResultColumn');
                const circleContainer = document.getElementById('circleContainer'); // Reference to the outer container

                for (let i = 1; i < results.length; i++) {
                    if (results[i] === currentChar) {
                        group += results[i]; // Add to the current group if same
                    } else {

                        column.appendChild(addContainer(group));
                        currentChar = results[i]; // Update currentChar
                        group = currentChar; // Start a new group
                    }
                }

                // Append the last group after the loop
                column.appendChild(addContainer(group));

                // Auto-scroll the circleContainer to the right after adding new content
                setTimeout(() => {
                    circleContainer.scrollLeft = circleContainer.scrollWidth;
                }, 0); // Using a timeout to ensure rendering is complete before scrolling
            }

            function changeRiskLevel(event) {
                event.stopPropagation();
                const riskLevelImage = document.getElementById('riskLevelImage');
                // console.log(riskLevelImage.src);

                if (riskLevelImage.src.includes('risk_medium.png')) {
                    riskLevelImage.src = '/img/risk_low.png';
                } else {
                    riskLevelImage.src = '/img/risk_medium.png';
                }

            }

            function turnOnOffSkip() {
                const button = document.getElementById("skipButton");

                if (button.classList.contains("bg-gradient-to-l")) {
                    // Change the button to gray
                    // button.classList.remove("bg-gradient-to-l", "from-yellow-700", "to-yellow-800");
                    // button.classList.add("bg-gray-500", "hover:bg-gray-600");

                    setShieldValue('OFF');
                } else {
                    setShieldValue('ON');
                    // Revert back to the original yellow color
                    // button.classList.remove("bg-gray-500", "hover:bg-gray-600");
                    // button.classList.add("bg-gradient-to-l", "from-yellow-700", "to-yellow-800");
                }
            }



            // Function to modify the date
            function modifyDate(dateString, days, options) {
                const dateObj = new Date(dateString);
                dateObj.setUTCDate(dateObj.getUTCDate() + days);
                return dateObj.toLocaleDateString('en-CA', options);  // Return the new date in YYYY-MM-DD format
            }

            async function getJournal(purpose) {
                const currentDate = new Date();
                const options = { timeZone: 'UTC', year: 'numeric', month: '2-digit', day: '2-digit' };
                const utcDate = currentDate.toLocaleDateString('en-CA', options); // Format: YYYY-MM-DD

                // Set dateCreated initially if not already set
                dateCreated = dateCreated || utcDate;

                // Modify dateCreated based on purpose
                dateCreated = purpose === 'back'
                    ? modifyDate(dateCreated, -1, options)
                    : purpose === 'forward'
                        ? modifyDate(dateCreated, 1, options)
                        : utcDate;

                try {
                    const response = await $.ajax({
                        url: '/api/journals/dateCreated',
                        type: 'GET',
                        data: { dateCreated }
                    });

                    $('#journalContainer').empty();

                    $('#dateTime').text(dateCreated);




                    // console.log(response);
                    totalProfit = 0;

                    const validJournals = response.filter(journal => journal.hand !== 0).reverse();
                    playedShoe = 0;
                    validJournals.forEach((journal, index) => {
                        const journalDiv = document.createElement('div');
                        journalDiv.classList.add('bg-white', 'border', 'border-gray-300', 'rounded-lg', 'p-2', 'mb-2');

                        // Create a flex container for Shoe, Hand, and Profit
                        const flexContainer = document.createElement('div');
                        flexContainer.classList.add('flex', 'justify-between', 'items-center', 'text-xs', 'text-gray-700');

                        flexContainer.id = `${journal.journalId}`;
                        flexContainer.style.cursor = 'pointer';
                        // Add the click event listener to the div
                        flexContainer.addEventListener('click', function () {

                            getGameArchive(flexContainer.id)
                        });


                        // Create container for left-aligned content (Win/Lose)
                        const leftContainer = document.createElement('div');
                        leftContainer.classList.add('flex-grow', 'text-left');

                        // Create "Win/Lose" label
                        const winLoseLabel = document.createElement('h4');
                        winLoseLabel.classList.add('text-xs', 'ml-2', 'block');
                        winLoseLabel.textContent = 'Win/Lose';

                        // Create "20/20" value on a new line
                        const winLoseValue = document.createElement('span');
                        winLoseValue.classList.add('text-xs', 'ml-2', 'block');
                        winLoseValue.textContent = `${journal.winLose}`;  // Adjust the values as needed

                        // Append Win/Lose label and value
                        leftContainer.appendChild(winLoseLabel);
                        leftContainer.appendChild(winLoseValue);

                        // Create container for center-aligned content (Shoe)
                        const centerContainer = document.createElement('div');
                        centerContainer.classList.add('flex-none', 'text-center');
                        const shoeHeading = document.createElement('h4');
                        shoeHeading.classList.add('font-semibold', 'text-sm');
                        shoeHeading.textContent = `Shoe: ${journal.shoe}`;
                        centerContainer.appendChild(shoeHeading);

                        // Create container for right-aligned content (Hand, Profit)
                        const rightContainer = document.createElement('div');
                        rightContainer.classList.add('flex-grow', 'text-right');
                        rightContainer.innerHTML = `
                        <p>Hand: ${journal.hand}</p>
                        <p>Profit: ${journal.profit}</p>
                    `;

                        totalProfit += journal.profit;

                        // Append elements
                        flexContainer.appendChild(leftContainer);
                        flexContainer.appendChild(centerContainer);
                        flexContainer.appendChild(rightContainer);
                        journalDiv.appendChild(flexContainer);
                        $('#journalContainer').append(journalDiv);

                        // Add glowing effect to the first valid journal
                        // if (index === 0) {
                        //     journalDiv.classList.add('glow');
                        // }
                        playedShoe++;
                    });






                    $('#totalProfit').text(totalProfit);


                    getProfitGraph("");

                } catch (xhr) {
                    console.error('Error fetching journals:', xhr);
                    alert('An error occurred while fetching journals. Please try again.');
                }
            }

            async function currentState() {


                try {
                    const statusMessage = $('#status').text();
                    const response = await $.ajax({
                        url: '/api/baccarat/current-state',
                        type: 'GET',
                        data: { message: statusMessage }
                    });
                    displayResultToUi(response);
                } catch (xhr) {
                    console.error('Error fetching current state:', xhr);
                    $('#status').text(`Error: ${xhr.responseText}`);
                }
            }


            async function getGameArchive(journalId) {
                try {
                    const response = await $.ajax({
                        url: '/api/journals/get-archive',
                        type: 'GET',
                        data: { journalId }
                    });

                    // Handle the successful response
                    displayResultToUi(response);

                    const riskLevelImage = document.getElementById('riskLevelImage');
                    riskLevelImage.onclick = null; // Disable click event

                    // Update UI with archive information
                    $('#infoHeader').text("Archive");
                    $('#infoContent').text("Note: This is for viewing purposes only and cannot be modified. Please refresh your page to restore the original state.");
                } catch (error) {
                    // Log the error details in case of failure
                    console.error('Error fetching archive:', error);
                    // Optionally, display an error message in the UI
                    $('#infoHeader').text("Error");
                    $('#infoContent').text("Failed to fetch the game archive. Please try again later.");
                }
            }



            function getHandResult(response) {

                let handResult = response.handResult;
                let skipState = response.skipState;

                const handResultContainer = document.getElementById('handResultContainer');
                handResultContainer.innerHTML = "";

                if (!handResult) {
                    return;
                }


                const fragment = document.createDocumentFragment();


                handResult.replace(/[^WL]/g, '').split('').forEach((result, index) => {
                    const circle = document.createElement('div');
                    const isWin = result === 'W';
                    const isLoss = result === 'L';
                    const isShouldSkip = skipState[index] === 'Y';


                    circle.className = `flex items-center justify-center w-5 h-5 rounded-full text-white text-xs ${isWin ? 'bg-green-500' : isLoss ? 'bg-red-500' : 'bg-yellow-500'
                        }`;

                    // circle.innerText = isWin ? 'W' : isLoss ? 'L' : 'S';
                    // circle.style.color = isShouldSkip ? 'yellow' : 'white'; 
                    // circle.style.fontWeight = isShouldSkip ? 'bold' : 'normal'; 
                    circle.classList.add(isShouldSkip ? 'text-yellow-500' : 'text-white');
                    if (isShouldSkip) {
                        circle.classList.add('font-bold');  // Apply bold text if skipState is true
                    }

                    // Set the inner text
                    circle.innerText = isWin ? 'W' : isLoss ? 'L' : 'S';

                    fragment.appendChild(circle);
                });

                handResultContainer.appendChild(fragment);


                setTimeout(() => {
                    handResultContainer.scrollLeft = handResultContainer.scrollWidth;
                }, 0);
            }


            function updateProgressBar(percentageInput) {
                const percentage = percentageInput * 100; // Convert to percentage
                const progressBar = document.getElementById('progressBar');

                // Set the width of the progress bar
                progressBar.style.width = `${percentage}%`;

                // Change class based on percentage to adjust color
                if (percentage < 30) {
                    progressBar.className = 'progress-bar low';
                } else if (percentage < 59) {
                    progressBar.className = 'progress-bar medium';
                } else {
                    progressBar.className = 'progress-bar high';
                }
            }


            async function getActiveUsers() {
                try {
                    const response = await $.ajax({
                        url: '/active-users',  // Ensure this endpoint exists in your backend
                        type: 'GET'            // Method type
                    });

                    $('#activeUsersCount').text(response);

                } catch (error) {
                    // Log the error details
                    console.error('Error fetching active users:', error);
                }
            }


            function handleViewChange() {
                const dayRadio = document.getElementById('dayRadio');
                const weekRadio = document.getElementById('weekRadio');

                // Determine the filter based on which radio button is checked
                const filterBy = dayRadio.checked ? 'Day' : weekRadio.checked ? 'Week' : null;

                if (filterBy) {
                    getProfitGraph(filterBy);
                }
            }






            function getProfitGraph() {
                const dayRadio = document.getElementById('dayRadio');
                const filterBy = dayRadio.checked ? 'Day' : 'Week'; // Use a ternary operator for clarity

                fetch(`/api/journals/profit-data?filterBy=${filterBy}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(profitData => {
                        // Destroy the existing chart if it exists
                        if (dummyGraph) {
                            try {
                                dummyGraph.destroy();
                            } catch (error) {
                                console.error('Error destroying chart:', error);
                            }
                        }

                        // Create a new chart instance
                        dummyGraph = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: profitData.labels,
                                datasets: [{
                                    label: profitData.data[profitData.data.length - 1],
                                    data: profitData.data,
                                    fill: false,
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    tension: 0.1
                                }]
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    x: {
                                        ticks: {
                                            autoSkip: true, // Automatically skip ticks
                                            maxTicksLimit: 10, // Limit the number of ticks
                                            maxRotation: 45, // Rotate labels if needed
                                            minRotation: 0 // Minimum label rotation
                                        }
                                    },
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching profit data:', error);
                    });
            }





            function showTab(tab) {
                const journalContainer = document.getElementById('journalContainer');
                const graphContainer = document.getElementById('graphContainer');
                const journalTab = document.getElementById('journalTab');
                const graphTab = document.getElementById('graphTab');

                if (tab === 'History') {
                    journalContainer.classList.remove('hidden');
                    graphContainer.classList.add('hidden');
                    journalTab.classList.add('border-blue-500', 'text-gray-700');
                    graphTab.classList.remove('border-blue-500', 'text-gray-700');
                    graphTab.classList.add('text-gray-500');
                } else {
                    journalContainer.classList.add('hidden');
                    graphContainer.classList.remove('hidden');
                    graphTab.classList.add('border-blue-500', 'text-gray-700');
                    journalTab.classList.remove('border-blue-500', 'text-gray-700');
                    journalTab.classList.add('text-gray-500');
                }
            }

            async function setShieldValue(yesNoValue) {


                try {
                    const response = await $.ajax({
                        url: '/api/baccarat/freeze-state',
                        type: 'POST',
                        data: { onOff: yesNoValue }
                    });

                    getFreezeStateAsync();

                } catch (error) {
                    console.log('Error:', error);
                    alert('Operation failed: ' + error.responseText);  // Optionally show an error message
                }
            }

            async function getFreezeStateAsync() {

                const button = document.getElementById("skipButton");
                try {
                    const response = await $.ajax({
                        url: '/api/baccarat/get-freeze-state',
                        type: 'GET'
                    });


                    if (response === 'OFF') {


                        button.classList.remove("bg-gradient-to-l", "from-yellow-600", "to-yellow-700");
                        button.classList.add("bg-gray-500", "hover:bg-gray-600");
                        freezeState = 'N'

                        var recommendedBet = $("#recommendedBet").text();
                        var suggestedBetUnitValue = $("#suggestedBetUnit").text();
                        $('#nextbetText').text(!recommendedBet.includes('Wait') ? suggestedBetUnitValue : "0");

                    } else {

                        // Revert back to the original yellow color
                        button.classList.remove("bg-gray-500", "hover:bg-gray-600");
                        button.classList.add("bg-gradient-to-l", "from-yellow-600", "to-yellow-700");
                        freezeState = 'Y'
                        $('#nextbetText').text("0");
                    }

                    console.log(freezeState);

                } catch (error) {
                    console.log('Error:', error);
                    alert('Operation failed: ' + error.responseText);  // Optionally show an error message
                }
            }




        </script>

</body>

</html>